.inventory-list-container {
    padding: 20px;
}
.inventory-table {
   width: 100%;
}
.mat-mdc-table {
  overflow-x: auto;
}
.search-add-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 20px;
}
.search-field {
  width: 50%;
}